@using MvcTutorials.Helpers

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>


@Html.Image("https://cdn.tgdd.vn/Products/Images/42/87840/iphone-7-plus-256gb-300x300.jpg", "Điện thoại iPhone 7 Plus 256GB")

