@using MvcTutorials.Helpers
@model IEnumerable<MvcTutorials.Data.Entities.Human>
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>

@Html.Table(Model)
<hr />
@Html.Table(Model, "table-stripped", "table-bordered")
<hr />
@Html.Table(Model, "table-condensed")
